body {
  /* background-color: cornflowerblue; */
  background-image: url('../img/bg.png');
  background-size: cover;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 6%;
}

.page-title {
  font-size: 38px;
  color: #fff;
  padding-bottom: 20px;
}

.form-title {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: normal;
}

.content-block {
  text-align: center;
  background-color: #fff;
  padding: 30px;
  border: 1px solid rgb(73, 130, 235);
  border-radius: 10px;
}

/* .info-box {
  padding: 50px;
  background-color: #fff;
} */
